{% extends 'base_bs5.html' %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1> Favoritos</h1>
            <p>
                <a href="{% url 'favoritos:crear' %}" class="btn btn-outline-primary">
                >NUEVO
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Url</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%for favorito in favoritos_lista %}
                    <tr>
                        <td>{{ favorito.nombre }}</td>
                        <td>{{ favorito.url}}</td>
                        <td>
                            <a href="{% url 'favoritos:borrar' favorito.pk  %}" class="btn btn-outline-danger mb-2">Borrar</a>
                            <br>
                            <a href="{% url 'favoritos:detalle' favorito.pk  %}" class="btn btn-outline-info mb-2">Detalle</a>
                            <br>
                            <a href="{% url 'favoritos:actualizar' favorito.pk  %}" class="btn btn-outline-primary mb-2">Actualizar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock container %}